#main-menu > ul.menu a {
    color: #FC0FC0;
}

#main-menu > ul.menu li.last {
    float: right;
}

#header #site-logo {
    padding-bottom: 0 !important;
}

.submitted { /* "Posted on..." */
    display: inline-block;
}

/* Taxonomy/Tags next to "Submitted" */
.content .field-name-taxonomy-vocabulary-2,
.content .field-name-taxonomy-vocabulary-2 .field-items,
{
    display: inline;
}
.content .field-name-taxonomy-vocabulary-2 .field-label { /* hide label */
    display: none;
}
.content .field-name-taxonomy-vocabulary-2 .field-item {
    float: right;
    background: #eee;
    padding: 4px 9px;
    border-radius: 4px;
    color: #383838;
    margin-left: 4px;
}

/* label and content should be in one line */
.content .field-name-field-datetime .field-label,
.content .field-name-field-datetime .field-items,
.content .field-name-field-datetime .field-items .field-item
{
    display: inline;
}

/* The preface (The "mission" displayed on the front page) needs less padding */
#preface-area .block p {
    margin-bottom: 0px;
    margin-top: 6px;
}
#preface-area .block {
    margin-bottom: 4px;
}

#main {
    padding-top: 6px;
}

footer #footer-area {
    display: none; /* Hide the footer area, we have no blocks there */
}

@media screen and (max-width: 1060px) {

#main-menu > ul.menu a {
    padding: 0 0.5em !important;
}

}
@media screen and (max-width: 767px) {

.tinynav {
    color: #FC0FC0;
}

/* header is smaller */
#site-logo {
    display: inline;
}
#site-logo img {
    text-align: left;
    width: 128px; /* half size for small screens */
}
#header .social-profile {
    top: 16px !important; /* vertically align social buttons */
}
}
