#main-menu > ul.menu a {
    color: #FC0FC0;
}

#main-menu > ul.menu li.last {
    float: right;
}

#header #site-logo {
    padding-bottom: 0 !important;
}

header .submitted { /* "Posted on..." */
    display: inline-block;
}

header .field-name-taxonomy-vocabulary-2 .field-label {
    display: none;
}

@media screen and (max-width: 767px) {

.tinynav {
    color: #FC0FC0;
}
}
